$primary-color: #4096ff;
$black-color: #24262B;
$blue-color: #05204a;
$black-light-color: #3c3744;
$white-color: #f4fdff;
$gray-color: #CBCBCB;
$border-color: #cbd5e1;
$bluegray-color: #f1f5f9;
$success-color: #00C18D;
$info-color: #14B2E2;
$warning-color: #FCA522;
$error-color: #E54D42;

@mixin main_card {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1rem;
}