.accountsetup {

    //GET STARTED
    .getstarted {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;

        &_title {
            text-align: center;

            h2 {
                font-weight: 700;
                padding-bottom: 0.4rem;
            }

            p {
                color: $gray-color;
            }
        }

        img {
            height: 20rem;
            width: auto;
        }

        button {
            margin-top: 2rem;
        }

    }

    //LOGIN
    .loginmain {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;

        &_banner {
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;

            img {
                height: 10rem;
                width: auto;
            }

            p {
                color: $gray-color;
                font-weight: 500;
            }
        }

        &_actions {
            margin-top: -1.5rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &_google {
                display: flex;
                align-items: center;
                gap: 1.6rem;

                .button {
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
                    cursor: pointer;
                    border: 1px solid $border-color;
                    padding: 0.4rem 1rem;
                    border-radius: 1rem;
                    transition: all 0.3s;

                    svg {
                        height: 2rem;
                        width: auto;
                    }

                    &:hover {
                        border-color: $primary-color;
                    }
                }
            }

            &_sign {
                span {
                    cursor: pointer;
                    font-weight: 500;
                    color: $primary-color;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        #loginform {
            width: 30rem;

            .ant-form-item button {
                margin-top: 1.5rem;
                width: 100%;
            }
        }
    }
}