.landing {
    background-color: $bluegray-color;

    &_itemcontainer {
        flex: 1;
        height: 100vh;
        padding: 2rem;
        padding-bottom: 6rem;
        gap: 1rem;

        .texts {
            p:nth-of-type(1) {
                font-size: 15px;
                font-weight: 700;
                color: $primary-color;
            }
        }

        .card {
            @include main_card;
        }

        &:nth-of-type(1) {
            border-right: 1px solid $border-color;
        }
    }
}