.tasksmain {
    &_body {
        position: relative;

        .ant-drawer-wrapper-body {
            .ant-drawer-header {
                padding: 0.84rem 1rem 0.84rem 2rem;

                .ant-drawer-header-title {
                    flex-direction: row-reverse;

                    .ant-drawer-title {
                        color: $black-color;
                        font-size: clamp(var(--h6Min), var(--fontScaler), var(--h6Max));
                        font-weight: 600;
                    }

                    .ant-drawer-close {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 0;

                        svg {
                            height: 2rem;
                            width: auto;
                        }
                    }
                }
            }

            .ant-drawer-body {
                padding: 0 0.5rem 1rem 0;

                .drawercontainer {
                    height: 100%;
                    overflow: hidden;
                    padding: 2rem;

                    .trashlist {
                        border-radius: 0.25rem;
                        height: 100%;

                        &_container {
                            // border: 1px solid orange;
                            height: 100%;
                            overflow: hidden;
                            display: flex;
                            flex-direction: column;

                            &_action {
                                padding-bottom: 0.4rem;
                                margin-bottom: 1rem;
                                border-bottom: 1px solid $gray-color;
                            }

                            &_list {
                                display: flex;
                                flex-direction: column;
                                gap: 0.4rem;

                                .trash_item {
                                    padding: 0 1.2rem;

                                    .title {
                                        gap: 0.4rem;

                                        svg {
                                            height: 1.4rem;
                                            width: auto;
                                            color: $black-light-color;
                                        }
                                    }
                                }
                            }
                        }

                        &_empty {
                            border: 1px solid $border-color;
                            height: 100%;
                        }

                    }
                }
            }
        }

    }
}